.wrapper {
  height: 50px;
  padding-right: 30px;
}

.item-nav {
  color: var(--text-color-primary);
  font-size: 16px;
  font-weight: 500;

  &:hover {
    color: rgb(17, 17, 17);
  }
}

.cart {
  padding: 10px;
}
